.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.idea/
TooliTV-Advance.iml
sh.exe.stackdump
app/Tooli_1.apk
app/Tooli_2.apk
app/Tooli_16.3.31.apk
app/Tooli_16.4.3.apk
app/Tooli_16.4.6.apk
app/Tooli_16.4.7.apk
app/Tooli_16.4.8.apk
app/Tooli_16.4.11.apk
app/Tooli_16.4.13.apk
app/Tooli_16.4.14.apk
app/Tooli_16.4.18.apk
app/speedtest_donot_delete.jpg
app/Tooli_16.4.21.apk
app/Tooli_16.4.24.apk
app/Tooli_16.4.26.apk
app/Tooli_16.4.29.apk
app/Tooli_16.5.4.apk
app/Tooli_16.5.6.apk
app/tooli.apk
app/Tooli_16.5.10.apk
app/Tooli_16.5.11.apk
app/OldAPKs/
app/Tooli_16.5.18.apk
app/Tooli_16.5.19.apk
app/Tooli_16.5.20.apk
app/Tooli_16.5.22.apk
app/Tooli_16.5.24.apk
app/Tooli_16.5.27.apk
app/Tooli_16.5.28.apk
app/Tooli_16.6.16.apk
app/Tooli_v16.6.22.apk
app/Tooli_v16.6.23.apk
app/Tooli_v16.6.24.apk
exolibrary/build/
app/Tooli_16.6.28.apk
Tooli.TV.iml
TooliTV.iml
app/Tooli_16.7.22.apk
app/TooliPrime_v16.8.8.apk
app/Tooli_Prime_16.8.10.apk
app/Tooli_Prime_16.8.11.apk
app/Tooli_Prime_16.8.12.apk
app/Tooli_Prime_16.8.13.apk
app/Tooli_Prime_16.8.16.apk
app/Tooli_Prime_16.8.26.apk
app/
